<a href="https://colab.research.google.com/github/LUCASDNORONHA/exploracao-dados-indigenas-2010-2022/blob/main/Projeto_de_Analise_de_Dados_Exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INSTITUTO DE EDUCA√á√ÉO SUPERIOR DE BRAS√çLIA ‚Äì IESB**
### Curso de Ci√™ncia de Dados e Intelig√™ncia Artificial  
### Disciplina: Introdu√ß√£o √† Ci√™ncia de Dados  
### Professor: Alexandre Vaz Roriz  
### Turma: CIANM1A  
### Aluno: Lucas Dias Noronha  

---

## üß™ Projeto de An√°lise de Dados Explorat√≥ria

### **Tema da Base de Dados**  
**Pessoas ind√≠genas, por localiza√ß√£o e situa√ß√£o do domic√≠lio, segundo as Grandes Regi√µes e as Unidades da Federa√ß√£o ‚Äì Brasil ‚Äì 2010/2022**

### **Fonte dos Dados**  
[Instituto Brasileiro de Geografia e Estat√≠stica ‚Äì IBGE](https://www.ibge.gov.br/estatisticas/sociais/populacao/22827-censo-demografico-2022.html?edicao=42267&t=resultados)

---

### üìÖ Bras√≠lia ‚Äì DF | 2025

In [135]:
import pandas as pd
import numpy as np

from google.colab import drive

In [136]:
drive.mount('/content/drive')
db = pd.read_excel("/content/drive/MyDrive/Tabela_complementar_06 (1).xlsx")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Ajuste dos Nomes das Colunas

Os nomes originais das colunas da base de dados estavam organizados em m√∫ltiplos n√≠veis de cabe√ßalho, herdando a estrutura da planilha de origem (formato de tabela com hierarquias de t√≠tulos). Esse formato dificultava o carregamento adequado dos dados no pandas, j√° que os nomes das colunas n√£o estavam em um √∫nico n√≠vel, impedindo a correta identifica√ß√£o e manipula√ß√£o dos campos.

Para resolver esse problema, realizamos a **normaliza√ß√£o dos nomes das colunas**, transformando a estrutura em um **n√≠vel √∫nico de cabe√ßalho**. Cada coluna agora possui um nome claro, direto e padronizado, mantendo sua identidade e significado, por√©m com t√≠tulos mais enxutos e apropriados para an√°lise em Python/pandas.

Esse processo permitiu a leitura correta do DataFrame e tornou vi√°vel a execu√ß√£o de an√°lises explorat√≥rias, cruzamentos e visualiza√ß√µes a partir de um esquema de dados limpo e funcional.

In [137]:
ajustar_nomes_colunas = [
    'UF',
    'Ind√≠genas 2010 Total',
    'Ind√≠genas 2010 Urbano',
    'Ind√≠genas 2010 Rural',
    'Ind√≠genas 2010 TI Total',
    'Ind√≠genas 2010 TI Urbano',
    'Ind√≠genas 2010 TI Rural',
    'Ind√≠genas 2010 Fora TI Total',
    'Ind√≠genas 2010 Fora TI Urbano',
    'Ind√≠genas 2010 Fora TI Rural',
    'Ind√≠genas 2022 Total',
    'Ind√≠genas 2022 Urbano',
    'Ind√≠genas 2022 Rural',
    'Ind√≠genas 2022 TI Total',
    'Ind√≠genas 2022 TI Urbano',
    'Ind√≠genas 2022 TI Rural',
    'Ind√≠genas 2022 Fora TI Total',
    'Ind√≠genas 2022 Fora TI Urbano',
    'Ind√≠genas 2022 Fora TI Rural',
    '% Ind√≠genas 2010 Urbano',
    '% Ind√≠genas 2010 Rural',
    '% Ind√≠genas 2010 TI Urbano',
    '% Ind√≠genas 2010 TI Rural',
    '% Ind√≠genas 2010 Fora TI Urbano',
    '% Ind√≠genas 2010 Fora TI Rural',
    '% Ind√≠genas 2022 Urbano',
    '% Ind√≠genas 2022 Rural',
    '% Ind√≠genas 2022 TI Urbano',
    '% Ind√≠genas 2022 TI Rural',
    '% Ind√≠genas 2022 Fora TI Urbano',
    '% Ind√≠genas 2022 Fora TI Rural'
]

db.columns = ajustar_nomes_colunas

# Dicion√°rio de Vari√°veis ‚Äì Popula√ß√£o Ind√≠gena (2010 e 2022)

| Coluna                                | Descri√ß√£o |
|---------------------------------------|-----------|
| **UF**                                | Unidade da Federa√ß√£o (Estado ou Regi√£o do Brasil). |
| **Ind√≠genas 2010 Total**              | Total de pessoas ind√≠genas em 2010, considerando todos os domic√≠lios. |
| **Ind√≠genas 2010 Urbano**             | N√∫mero de ind√≠genas em domic√≠lios localizados em √°reas urbanas em 2010. |
| **Ind√≠genas 2010 Rural**              | N√∫mero de ind√≠genas em domic√≠lios localizados em √°reas rurais em 2010. |
| **Ind√≠genas 2010 TI Total**           | Total de ind√≠genas residentes em Terras Ind√≠genas (TIs) em 2010. |
| **Ind√≠genas 2010 TI Urbano**          | Ind√≠genas em √°reas urbanas dentro de Terras Ind√≠genas em 2010. |
| **Ind√≠genas 2010 TI Rural**           | Ind√≠genas em √°reas rurais dentro de Terras Ind√≠genas em 2010. |
| **Ind√≠genas 2010 Fora TI Total**      | Total de ind√≠genas fora de Terras Ind√≠genas em 2010. |
| **Ind√≠genas 2010 Fora TI Urbano**     | Ind√≠genas fora de TIs e em √°reas urbanas em 2010. |
| **Ind√≠genas 2010 Fora TI Rural**      | Ind√≠genas fora de TIs e em √°reas rurais em 2010. |
| **Ind√≠genas 2022 Total**              | Total de pessoas ind√≠genas em 2022, considerando todos os domic√≠lios. |
| **Ind√≠genas 2022 Urbano**             | N√∫mero de ind√≠genas em √°reas urbanas em 2022. |
| **Ind√≠genas 2022 Rural**              | N√∫mero de ind√≠genas em √°reas rurais em 2022. |
| **Ind√≠genas 2022 TI Total**           | Total de ind√≠genas residentes em Terras Ind√≠genas em 2022. |
| **Ind√≠genas 2022 TI Urbano**          | Ind√≠genas em √°reas urbanas dentro de TIs em 2022. |
| **Ind√≠genas 2022 TI Rural**           | Ind√≠genas em √°reas rurais dentro de TIs em 2022. |
| **Ind√≠genas 2022 Fora TI Total**      | Total de ind√≠genas fora de Terras Ind√≠genas em 2022. |
| **Ind√≠genas 2022 Fora TI Urbano**     | Ind√≠genas fora de TIs e em √°reas urbanas em 2022. |
| **Ind√≠genas 2022 Fora TI Rural**      | Ind√≠genas fora de TIs e em √°reas rurais em 2022. |
| **% Ind√≠genas 2010 Urbano**           | Percentual da popula√ß√£o ind√≠gena em √°reas urbanas em 2010. |
| **% Ind√≠genas 2010 Rural**            | Percentual da popula√ß√£o ind√≠gena em √°reas rurais em 2010. |
| **% Ind√≠genas 2010 TI Urbano**        | Percentual de ind√≠genas em √°reas urbanas dentro de TIs em 2010. |
| **% Ind√≠genas 2010 TI Rural**         | Percentual de ind√≠genas em √°reas rurais dentro de TIs em 2010. |
| **% Ind√≠genas 2010 Fora TI Urbano**   | Percentual de ind√≠genas fora de TIs em √°reas urbanas em 2010. |
| **% Ind√≠genas 2010 Fora TI Rural**    | Percentual de ind√≠genas fora de TIs em √°reas rurais em 2010. |
| **% Ind√≠genas 2022 Urbano**           | Percentual da popula√ß√£o ind√≠gena em √°reas urbanas em 2022. |
| **% Ind√≠genas 2022 Rural**            | Percentual da popula√ß√£o ind√≠gena em √°reas rurais em 2022. |
| **% Ind√≠genas 2022 TI Urbano**        | Percentual de ind√≠genas em √°reas urbanas dentro de TIs em 2022. |
| **% Ind√≠genas 2022 TI Rural**         | Percentual de ind√≠genas em √°reas rurais dentro de TIs em 2022. |
| **% Ind√≠genas 2022 Fora TI Urbano**   | Percentual de ind√≠genas fora de TIs em √°reas urbanas em 2022. |
| **% Ind√≠genas 2022 Fora TI Rural**    | Percentual de ind√≠genas fora de TIs em √°reas rurais em 2022. |

# 1. Informa√ß√µes gerais sobre a Base de Dados e as Primeiras Impress√µes

In [138]:
db.sample(10)

,UF,Ind√≠genas 2010 Total,Ind√≠genas 2010 Urbano,Ind√≠genas 2010 Rural,Ind√≠genas 2010 TI Total,Ind√≠genas 2010 TI Urbano,Ind√≠genas 2010 TI Rural,Ind√≠genas 2010 Fora TI Total,Ind√≠genas 2010 Fora TI Urbano,Ind√≠genas 2010 Fora TI Rural,...,% Ind√≠genas 2010 TI Urbano,% Ind√≠genas 2010 TI Rural,% Ind√≠genas 2010 Fora TI Urbano,% Ind√≠genas 2010 Fora TI Rural,% Ind√≠genas 2022 Urbano,% Ind√≠genas 2022 Rural,% Ind√≠genas 2022 TI Urbano,% Ind√≠genas 2022 TI Rural,% Ind√≠genas 2022 Fora TI Urbano,% Ind√≠genas 2022 Fora TI Rural
34,S√£o Paulo,41981,37917,4064,2767,406,2361,39214,37511,1703,...,14.672931,85.327069,95.657163,4.342837,87.5061,12.4939,0.071788,99.928212,94.649281,5.350719
37,Santa Catarina,18213,7741,10472,9227,427,8800,8986,7314,1672,...,4.627723,95.372277,81.393278,18.606722,47.517568,52.482432,3.446998,96.553002,90.829615,9.170385
16,Roraima,55922,8243,47679,46505,949,45556,9417,7294,2123,...,2.040641,97.959359,77.455665,22.544335,22.191506,77.808494,2.151796,97.848204,77.680019,22.319981
38,Rio Grande do Sul,34001,14190,19811,18266,1167,17099,15735,13023,2712,...,6.388919,93.611081,82.764538,17.235462,39.479807,60.520193,5.908166,94.091834,65.384238,34.615762
39,Centro-Oeste,143432,35156,108276,104019,2379,101640,39413,32777,6636,...,2.287082,97.712918,83.162916,16.837084,37.949968,62.050032,1.550775,98.449225,86.312128,13.687872
44,"Fonte: IBGE, Censo Demogr√°fico 2022.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Absoluto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Urbana,Rural,NaN,Urbana,Rural,NaN,Urbana,Rural,...,Urbana,Rural,Urbana,Rural,Urbana,Rural,Urbana,Rural,Urbana,Rural
23,Cear√°,20697,13061,7636,2988,710,2278,17709,12351,5358,...,23.761714,76.238286,69.744198,30.255802,61.092386,38.907614,62.180401,37.819599,60.84273,39.15727
24,Rio Grande do Norte,2597,2080,517,-,-,-,2597,2080,517,...,-,-,80.092414,19.907586,45.97407,54.02593,-,-,45.97407,54.02593

In [139]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   UF                               37 non-null     object
 1   Ind√≠genas 2010 Total             37 non-null     object
 2   Ind√≠genas 2010 Urbano            35 non-null     object
 3   Ind√≠genas 2010 Rural             34 non-null     object
 4   Ind√≠genas 2010 TI Total          36 non-null     object
 5   Ind√≠genas 2010 TI Urbano         35 non-null     object
 6   Ind√≠genas 2010 TI Rural          34 non-null     object
 7   Ind√≠genas 2010 Fora TI Total     35 non-null     object
 8   Ind√≠genas 2010 Fora TI Urbano    35 non-null     object
 9   Ind√≠genas 2010 Fora TI Rural     34 non-null     object
 10  Ind√≠genas 2022 Total             35 non-null     object
 11  Ind√≠genas 2022 Urbano            35 non-null     object
 12  Ind√≠genas 2022 Rural             34 non-null     object
 13  Ind√≠genas 2022 TI Total          36 non-null     object
 14  Ind√≠genas 2022 TI Urbano         35 non-null     object
 15  Ind√≠genas 2022 TI Rural          34 non-null     object
 16  Ind√≠genas 2022 Fora TI Total     35 non-null     object
 17  Ind√≠genas 2022 Fora TI Urbano    35 non-null     object
 18  Ind√≠genas 2022 Fora TI Rural     34 non-null     object
 19  % Ind√≠genas 2010 Urbano          37 non-null     object
 20  % Ind√≠genas 2010 Rural           34 non-null     object
 21  % Ind√≠genas 2010 TI Urbano       37 non-null     object
 22  % Ind√≠genas 2010 TI Rural        34 non-null     object
 23  % Ind√≠genas 2010 Fora TI Urbano  36 non-null     object
 24  % Ind√≠genas 2010 Fora TI Rural   34 non-null     object
 25  % Ind√≠genas 2022 Urbano          36 non-null     object
 26  % Ind√≠genas 2022 Rural           34 non-null     object
 27  % Ind√≠genas 2022 TI Urbano       37 non-null     object
 28  % Ind√≠genas 2022 TI Rural        34 non-null     object
 29  % Ind√≠genas 2022 Fora TI Urbano  36 non-null     object
 30  % Ind√≠genas 2022 Fora TI Rural   34 non-null     object
dtypes: object(31)
memory usage: 11.0+ KB

In [140]:
db.describe(include='all')

,UF,Ind√≠genas 2010 Total,Ind√≠genas 2010 Urbano,Ind√≠genas 2010 Rural,Ind√≠genas 2010 TI Total,Ind√≠genas 2010 TI Urbano,Ind√≠genas 2010 TI Rural,Ind√≠genas 2010 Fora TI Total,Ind√≠genas 2010 Fora TI Urbano,Ind√≠genas 2010 Fora TI Rural,...,% Ind√≠genas 2010 TI Urbano,% Ind√≠genas 2010 TI Rural,% Ind√≠genas 2010 Fora TI Urbano,% Ind√≠genas 2010 Fora TI Rural,% Ind√≠genas 2022 Urbano,% Ind√≠genas 2022 Rural,% Ind√≠genas 2022 TI Urbano,% Ind√≠genas 2022 TI Rural,% Ind√≠genas 2022 Fora TI Urbano,% Ind√≠genas 2022 Fora TI Rural
count,37,37,35,34,36,35,34,35,35,34,...,37,34,36,34,36,34,37,34,36,34
unique,37,37,35,34,34,23,32,35,35,34,...,25,23,36,34,36,34,27,25,36,34
top,Ind√≠genas: Principais caracter√≠sticas das pess...,Pessoas ind√≠genas,Situa√ß√£o do domic√≠lio,Rural,-,-,-,Fora Terras Ind√≠genas,Situa√ß√£o do domic√≠lio,Rural,...,-,100,Fora Terras Ind√≠genas,Rural,2022,Rural,-,100,Fora Terras Ind√≠genas,Rural
freq,1,1,1,1,3,13,3,1,1,1,...,13,10,1,1,1,1,11,9,1,1

# 2. Converter colunas num√©ricas para tipo float

## Presen√ßa de valores nulos
Muitas colunas t√™m menos que 45 valores n√£o-nulos (o total de linhas).

Coluna UF tem 37 valores ‚Üí 8 linhas sem nome de regi√£o/UF ‚Üí provavelmente linhas em branco.

## Tipos de dados incorretos
Todas as colunas est√£o como object, ou seja, strings, inclusive as quantitativas.

Isso indica que os n√∫meros provavelmente est√£o formatados como texto.

# Identificar e visualizar os NaN

In [141]:
db.isnull().sum()

UF                                  8
Ind√≠genas 2010 Total                8
Ind√≠genas 2010 Urbano              10
Ind√≠genas 2010 Rural               11
Ind√≠genas 2010 TI Total             9
Ind√≠genas 2010 TI Urbano           10
Ind√≠genas 2010 TI Rural            11
Ind√≠genas 2010 Fora TI Total       10
Ind√≠genas 2010 Fora TI Urbano      10
Ind√≠genas 2010 Fora TI Rural       11
Ind√≠genas 2022 Total               10
Ind√≠genas 2022 Urbano              10
Ind√≠genas 2022 Rural               11
Ind√≠genas 2022 TI Total             9
Ind√≠genas 2022 TI Urbano           10
Ind√≠genas 2022 TI Rural            11
Ind√≠genas 2022 Fora TI Total       10
Ind√≠genas 2022 Fora TI Urbano      10
Ind√≠genas 2022 Fora TI Rural       11
% Ind√≠genas 2010 Urbano             8
% Ind√≠genas 2010 Rural             11
% Ind√≠genas 2010 TI Urbano          8
% Ind√≠genas 2010 TI Rural          11
% Ind√≠genas 2010 Fora TI Urbano     9
% Ind√≠genas 2010 Fora TI Rural     11
% Ind√≠genas 2022 Urbano             9
% Ind√≠genas 2022 Rural             11
% Ind√≠genas 2022 TI Urbano          8
% Ind√≠genas 2022 TI Rural          11
% Ind√≠genas 2022 Fora TI Urbano     9
% Ind√≠genas 2022 Fora TI Rural     11
dtype: int64

In [142]:
db.isnull().sum().sort_values(ascending=False) # Isso mostra quantos NaN existem por coluna, em ordem decrescente.

Ind√≠genas 2010 Rural               11
Ind√≠genas 2010 TI Rural            11
Ind√≠genas 2010 Fora TI Rural       11
Ind√≠genas 2022 Rural               11
% Ind√≠genas 2010 TI Rural          11
Ind√≠genas 2022 Fora TI Rural       11
Ind√≠genas 2022 TI Rural            11
% Ind√≠genas 2010 Fora TI Rural     11
% Ind√≠genas 2022 Rural             11
% Ind√≠genas 2022 Fora TI Rural     11
% Ind√≠genas 2022 TI Rural          11
% Ind√≠genas 2010 Rural             11
Ind√≠genas 2010 Fora TI Urbano      10
Ind√≠genas 2010 TI Urbano           10
Ind√≠genas 2010 Urbano              10
Ind√≠genas 2022 Fora TI Total       10
Ind√≠genas 2022 Fora TI Urbano      10
Ind√≠genas 2022 Urbano              10
Ind√≠genas 2022 Total               10
Ind√≠genas 2010 Fora TI Total       10
Ind√≠genas 2022 TI Urbano           10
Ind√≠genas 2022 TI Total             9
Ind√≠genas 2010 TI Total             9
% Ind√≠genas 2022 Fora TI Urbano     9
% Ind√≠genas 2010 Fora TI Urbano     9
% Ind√≠genas 2022 Urbano             9
UF                                  8
Ind√≠genas 2010 Total                8
% Ind√≠genas 2010 Urbano             8
% Ind√≠genas 2010 TI Urbano          8
% Ind√≠genas 2022 TI Urbano          8
dtype: int64

# Substitui strings vazias por NaN

In [143]:
db.replace('', np.nan, inplace=True)

# Converte todas as colunas para float, tratando valores inv√°lidos como NaN

In [144]:
db = db.apply(pd.to_numeric, errors='coerce')

# Visualizar linhas com dados faltantes

In [145]:
db[db.isnull().any(axis=1)]

,UF,Ind√≠genas 2010 Total,Ind√≠genas 2010 Urbano,Ind√≠genas 2010 Rural,Ind√≠genas 2010 TI Total,Ind√≠genas 2010 TI Urbano,Ind√≠genas 2010 TI Rural,Ind√≠genas 2010 Fora TI Total,Ind√≠genas 2010 Fora TI Urbano,Ind√≠genas 2010 Fora TI Rural,...,% Ind√≠genas 2010 TI Urbano,% Ind√≠genas 2010 TI Rural,% Ind√≠genas 2010 Fora TI Urbano,% Ind√≠genas 2010 Fora TI Rural,% Ind√≠genas 2022 Urbano,% Ind√≠genas 2022 Rural,% Ind√≠genas 2022 TI Urbano,% Ind√≠genas 2022 TI Rural,% Ind√≠genas 2022 Fora TI Urbano,% Ind√≠genas 2022 Fora TI Rural
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,896917.0,324834.0,572083.0,517383.0,25963.0,491420.0,379534.0,298871.0,80663.0,...,5.018139,94.981861,78.746832,21.253168,53.972538,46.027462,11.236522,88.763478,78.802827,21.197173
12,NaN,342836.0,61565.0,281271.0,251891.0,2179.0,249712.0,90945.0,59386.0,31559.0,...,0.865057,99.134943,65.298807,34.701193,49.998010,50.001990,11.038832,88.961168,78.246631,21.753369
13,NaN,13076.0,2906.0,10170.0,9217.0,NaN,9217.0,3859.0,2906.0,953.0,...,NaN,100.000000,75.304483,24.695517,38.276743,61.723257,NaN,100.000000,84.128469,15.871531
14,NaN,17578.0,2595.0,14983.0,13308.0,NaN,13308.0,4270.0,2595.0,1675.0,...,NaN,100.000000,60.772834,39.227166,27.920111,72.079889,NaN,100.000000,73.065808,26.934192
15,NaN,183514.0,34316.0,149198.0,129529.0,1230.0,128299.0,53985.0,33086.0,20899.0,...,0.949594,99.050406,61.287395,38.712605,62.302749,37.697251,22.182721,77.817279,79.798745,20.201255
16,NaN,55922.0,8243.0,47679.0,46505.0,949.0,45556.0,9417.0,7294.0,2123.0,...,2.040641,97.959359,77.455665,22.544335,22.191506,77.808494,2.151796,97.848204,77.680019,22.319981
17,NaN,51217.0,9966.0,41251.0,35816.0,NaN,35816.0,15401.0,9966.0,5435.0,...,NaN,100.000000,64.710084,35.289916,31.289207,68.710793,0.860853,99.139147,63.782845,36.217155
18,NaN,7411.0,1360.0,6051.0,5956.0,NaN,5956.0,1455.0,1360.0,95.0,...,NaN,100.000000,93.470790,6.529210,25.224987,74.775013,NaN,100.000000,82.131571,17.868429
19,NaN,14118.0,2179.0,11939.0,11560.0,NaN,11560.0,2558.0,2179.0,379.0,...,NaN,100.000000,85.183737,14.816263,20.950906,79.049094,NaN,100.000000,87.214137,12.785863
20,NaN,232739.0,114401.0,118338.0,106142.0,19159.0,86983.0,126597.0,95242.0,31355.0,...,18.050348,81.949652,75.232430,24.767570,62.298536,37.701464,23.251875,76.748125,75.001127,24.998873
21,NaN,38831.0,6924.0,31907.0,29621.0,587.0,29034.0,9210.0,6337.0,2873.0,...,1.981702,98.018298,68.805646,31.194354,20.459714,79.540286,2.401804,97.598196,69.049003,30.950997
22,NaN,2944.0,2357.0,587.0,NaN,NaN,NaN,2944.0,2357.0,587.0,...,NaN,NaN,80.061141,19.938859,51.666204,48.333796,NaN,100.000000,52.497178,47.502822
23,NaN,20697.0,13061.0,7636.0,2988.0,710.0,2278.0,17709.0,12351.0,5358.0,...,23.761714,76.238286,69.744198,30.255802,61.092386,38.907614,62.180401,37.819599,60.842730,39.157270
24,NaN,2597.0,2080.0,517.0,NaN,NaN,NaN,2597.0,2080.0,517.0,...,NaN,NaN,80.092414,19.907586,45.974070,54.025930,NaN,NaN,45.974070,54.025930
25,NaN,25043.0,13721.0,11322.0,18296.0,7426.0,10870.0,6747.0,6295.0,452.0,...,40.588107,59.411893,93.300726,6.699274,56.373590,43.626410,35.291955,64.708045,92.555876,7.444124
26,NaN,60995.0,27521.0,33474.0,31836.0,5363.0,26473.0,29159.0,22158.0,7001.0,...,16.845709,83.154291,75.990260,24.009740,55.095362,44.904638,22.145480,77.854520,70.726649,29.273351
27,NaN,16291.0,6233.0,10058.0,6268.0,NaN,6268.0,10023.0,6233.0,3790.0,...,NaN,100.000000,62.186970,37.813030,57.236152,42.763848,43.824940,56.175060,61.932504,38.067496
28,NaN,5221.0,4446.0,775.0,316.0,NaN,316.0,4905.0,4446.0,459.0,...,NaN,100.000000,90.642202,9.357798,82.505308,17.494692,NaN,100.000000,88.701210,11.298790
29,NaN,60120.0,38058.0,22062.0,16817.0,5073.0,11744.0,43303.0,32985.0,10318.0,...,30.165904,69.834096,76.172552,23.827448,78.466111,21.533889,31.450816,68.549184,82.278827,17.721173
30,NaN,99137.0,79272.0,19865.0,15904.0,652.0,15252.0,83233.0,78620.0,4613.0,...,4.099598,95.900402,94.457727,5.542273,77.246140,22.753860,8.083624,91.916376,91.854498,8.145502
31,NaN,31677.0,19843.0,11834.0,9682.0,NaN,9682.0,21995.0,19843.0,2152.0,...,NaN,100.000000,90.215958,9.784042,60.314995,39.685005,14.311609,85.688391,83.046983,16.953017
32,NaN,9585.0,6356.0,3229.0,3005.0,246.0,2759.0,6580.0,6110.0,470.0,...,8.186356,91.813644,92.857143,7.142857,60.520472,39.479528,NaN,100.000000,89.473684,10.526316
33,NaN,15894.0,15156.0,738.0,450.0,NaN,450.0,15444.0,15156.0,288.0,...,NaN,100.000000,98.135198,1.864802,94.586325,5.413675,NaN,100.000000,97.726167,2.273833
34,NaN,41981.0,37917.0,4064.0,2767.0,406.0,2361.0,39214.0,37511.0,1703.0,...,14.672931,85.327069,95.657163,4.342837,87.506100,12.493900,0.071788,99.928212,94.649281,5.350719
35,NaN,78773.0,34440.0,44333.0,39427.0,1594.0,37833.0,39346.0,32846.0,6500.0,...,4.042915,95.957085,83.479896,16.520104,41.799391,58.200609,3.219580,96.780420,74.324042,25.675958
36,NaN,26559.0,12509.0,14050.0,11934.0,NaN,11934.0,14625.0,12509.0,2116.0,...,NaN,100.000000,85.531624,14.468376,40.461498,59.538502,NaN,100.000000,74.380016,25.619984
37,NaN,18213.0,7741.0,10472.0,9227.0,427.0,8800.0,8986.0,7314.0,1672.0,...,4.627723,95.372277,81.393278,18.606722,47.517568,52.482432,3.446998,96.553002,90.829615,9.170385
38,NaN,34001.0,14190.0,19811.0,18266.0,1167.0,17099.0,15735.0,13023.0,2712.0,...,6.388919,93.611081,82.764538,17.235462,39.479807,60.520193,5.908166,94.091834,65.384238,34.615762
39,NaN,143432.0,35156.0,108276.0,104019.0,2379.0,101640.0,39413.0,32777.0,6636.0,...,2.287082,97.712918,83.162916,16.837084,37.949968,62.050032,1.550775,98.449225,86.312128,13.687872
40,NaN,77025.0,14894.0,62131.0,61158.0,1645.0,59513.0,15867.0,13249.0,2618.0,...,2.689754,97.310246,83.500347,16.499653,35.941753,64.058247,2.071867,97.928133,84.621341,15.378659
41,NaN,51696.0,6291.0,45405.0,42525.0,629.0,41896.0,9171.0,5662.0,3509.0,...,1.479130,98.520870,61.738087,38.261913,17.336692,82.663308,0.535695,99.464305,74.918443,25.081557
42,NaN,8583.0,8030.0,553.0,336.0,105.0,231.0,8247.0,7925.0,322.0,...,31.250000,68.750000,96.095550,3.904450,95.521853,4.478147,30.813953,69.186047,96.682835,3.317165
43,NaN,6128.0,5941.0,187.0,NaN,NaN,NaN,6128.0,5941.0,187.0,...,NaN,NaN,96.948433,3.051567,91.843056,8.156944,NaN,NaN,91.843056,8.156944
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
len(db) == len(db[db.isnull().any(axis=1)]) # Se retornar True, ent√£o todas as linhas t√™m pelo menos um valor nulo.

True

# Anten√ß√£o: Todas as linhas do DataFrame t√™m pelo menos um valor NaN. Visto que foi retornado um data frame com o mesmo tamanho da base original.

In [147]:
print(db['Ind√≠genas 2022 Total'].mean(skipna=True))

149603.82352941178

In [148]:
contagem_uf = db['UF'].value_counts(dropna=False)
contagem_uf

UF
NaN    45
Name: count, dtype: int64

In [149]:
contagem_uf = db['UF'].value_counts()
contagem_uf

Series([], Name: count, dtype: int64)